.table {
  width: 100%;
}

.tableButtonWrapper {
  display: flex;
  justify-content: right;
}

.tableContainer {
  margin-top: 26px;
}

.startNewButtonContainer {
  margin-top: 12px;
}

.descriptionParagraph {
  margin-top: 12px;
}

.paginationWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.semanticSurfaceBgColor {
  background-color: var(--fds-semantic-surface-action-second-subtle);
}

.paginationWrapperMobile {
  display: flex;
  justify-content: center;
}

.mobileTableCell {
  padding-top: 12px;
  padding-bottom: 12px;
}

.leftOffHeading {
  padding-top: 12px;
  padding-bottom: 12px;
}
