.nav {
  max-width: var(--page-max-width);
  padding: 0 var(--page-padding-x);
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}

.button-margin {
  margin-top: calc(2 * var(--fds-focus-border-width));
}

.inbox-button {
  color: var(--fds-colors-blue-700);
}

.inbox-button svg {
  margin-right: 4px;
}

@media only screen and (max-width: 1200px) {
  button.hideExpandButtonMaxWidth {
    display: none;
  }
}
