.radioLabelContainer {
  display: flex;
  gap: var(--ds-spacing-1);
  align-items: center;
}

.radioButton {
  box-sizing: border-box;
}

.card {
  border-radius: 6px;
  background-color: var(--ds-color-neutral-background-subtle);
  width: 100%;
  padding: var(--ds-spacing-2);
  margin-bottom: var(--ds-spacing-3);
  cursor: pointer;
}

.card label {
  width: 100%;
}

.card:hover {
  background: var(--ds-color-neutral-surface-hover);
}

.card:active {
  background: var(--ds-color-neutral-surface-active);
}

.card:is(:checked, :has(:checked)) {
  background: var(--ds-color-neutral-surface-default);
  box-shadow: 0 0 0 var(--ds-focus-border-width) var(--ds-semantic-border-first-active);
}

.card:has(:focus-visible) {
  --ds-focus-border-width: 3px;
  background: var(--ds-color-neutral-surface-default);

  box-shadow: 0 0 0 var(--ds-focus-border-width) var(--ds-inner-focus-border-color);
  outline: var(--ds-focus-border-width) solid var(--ds-outer-focus-border-color);
  outline-offset: var(--ds-focus-border-width);
}
