.radioLabelContainer {
  display: flex;
  gap: var(--ds-size-1);
  align-items: center;
}

.radioButton {
  box-sizing: border-box;
}

.card {
  border-radius: 6px;
  background-color: var(--ds-color-neutral-background-subtle);
  width: 100%;
  padding: var(--ds-size-2);
  margin-bottom: var(--ds-size-3);
  cursor: pointer;
}

.card label {
  width: 100%;
}

.card:hover {
  background: var(--ds-color-neutral-surface-default);
}

.card:active {
  background: var(--ds-color-neutral-border-subtle);
}

.card:is(:checked, :has(:checked)) {
  background: var(--ds-color-neutral-surface-tinted);
  box-shadow: 0 0 0 var(--ds-border-width-focus) var(--ds-color-brand1-base-active);
}

.card:has(:focus-visible) {
  background: var(--ds-color-neutral-surface-tinted);

  box-shadow: 0 0 0 var(--ds-border-width-focus) var(--ds-color-focus-inner);
  outline: var(--ds-border-width-focus) solid var(--ds-color-focus-outer);
  outline-offset: var(--ds-border-width-focus);
}
