.pdf-wrapper h1 {
  font-size: xx-large;
  margin-bottom: 2rem;
}

.component-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.component-container:empty {
  display: none;
}
