.wrapper {
  align-self: center;
  justify-self: center;
}

.col {
  grid-column: var(--footer-component-col-xs);
}
.row {
  grid-row: var(--footer-component-row-xs);
}

@media only screen and (min-width: 600px) {
  .col_sm {
    grid-column: var(--footer-component-col-sm);
  }
  .row_sm {
    grid-row: var(--footer-component-row-sm);
  }
}

@media only screen and (min-width: 960px) {
  .col_md {
    grid-column: var(--footer-component-col-md);
  }
  .row_md {
    grid-row: var(--footer-component-row-md);
  }
}

@media only screen and (min-width: 1280px) {
  .col_lg {
    grid-column: var(--footer-component-col-lg);
  }
  .row_lg {
    grid-row: var(--footer-component-row-lg);
  }
}

@media only screen and (min-width: 1920px) {
  .col_xl {
    grid-column: var(--footer-component-col-xl);
  }
  .row_xl {
    grid-row: var(--footer-component-row-xl);
  }
}
