.container {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}

.container > dl {
  padding: 0.5rem !important;
  width: max-content;
  margin: 0;
}

.container dl {
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content auto;
  row-gap: 0.5rem;
}

.container dt {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / span 2;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 2px;
  align-self: center;
}

.showAsString::before {
  content: '"';
}

.showAsString::after {
  content: '"';
}

.container dt.active {
  background-color: #ccc !important;
}

.colon::after {
  content: ':';
}

.container dt:hover {
  background-color: #ddd;
}

.container dd {
  border-left: 2px solid #bbb;
  padding-left: 8px;
  margin-left: 8px;
}

.container dd:has(> dl) {
  border-image: linear-gradient(to right, #bbb 0px, #bbb 8px, #bbb0 8px) 1;
  border-width: 2px;
  border-style: solid;
  position: relative;
}
.container dd:has(> dl)::after {
  content: '';
  width: 8px;
  height: 0;
  border-top: 2px solid #bbb;
  position: absolute;
  top: 50%;
  left: -8px;
}

.container pre {
  margin: 0;
}

.type {
  font-size: 0.8rem;
  background-color: #333;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: 6px;
  justify-self: end;
  height: min-content;
}

.json {
  font-size: 0.8rem;
  padding: 4px;
  border-radius: 4px;
  white-space: pre;
  font-family: monospace;
  background-color: #efefef;
  position: relative;
}
