.container {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.container > * {
  padding: 0.5rem !important;
}

.container dl {
  padding: 0;
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 0.5rem;
}

.container dt {
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 2px;
  align-self: center;
}

.container dt::after {
  content: ':';
}

.container dt:hover {
  background-color: #ccc;
}

.container dd {
  border-left: 2px solid #ccc;
  padding-left: 0.5rem;
  margin-left: 1rem;
}

.container pre {
  margin: 0;
}
