.footer {
  padding: 60px 24px;
  max-width: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 50px;
}

@media only screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    max-width: 1056px;
    padding: 60px 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: var(--footer-grid-xs);
}

@media only screen and (min-width: 600px) {
  .grid_sm {
    grid-template-columns: var(--footer-grid-sm);
  }
}

@media only screen and (min-width: 960px) {
  .grid_md {
    grid-template-columns: var(--footer-grid-md);
  }
}

@media only screen and (min-width: 1280px) {
  .grid_lg {
    grid-template-columns: var(--footer-grid-lg);
  }
}

@media only screen and (min-width: 1920px) {
  .grid_xl {
    grid-template-columns: var(--footer-grid-xl);
  }
}
