.summaryItem {
  width: 100%;
}

.nestedGroupContainer {
  padding: var(--fds-spacing-6) var(--fds-spacing-4) var(--fds-spacing-6) var(--fds-spacing-4);
  gap: var(--fds-spacing6);
  border-width: var(--fds-border_width-default);
  border-radius: var(--fds-border_radius-medium);
  border-color: var(--fds-semantic-border-neutral-default);
  border-style: dashed;
}
