/*
 * Workaround to make the combobox shrink on narrow screens
 */
.container [class*='fds-combobox__input__wrapper'],
.container [class*='fds-combobox__chip-and-input'],
.container input {
  min-width: 0;
}

/*
* Workaround to be able to use portal={false} without adding additional space below the dropdown when open
*/
.no-portal-space-workaround {
  gap: unset;
}
.no-portal-space-workaround > label {
  margin-bottom: 0.5rem;
}
