/* Focus utility class */
.focusable:focus-within {
  outline: var(--ds-focus-border-width) solid var(--ds-outer-focus-border-color);
  outline-offset: var(--ds-focus-border-width);
  box-shadow: 0 0 0 var(--ds-focus-border-width) var(--ds-inner-focus-border-color);
}
