.labelContainer {
  display: flex;
  gap: var(--ds-spacing-2);
  align-items: center;
}

.labelContent {
  word-break: break-word;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-1);
  align-items: flex-start;
}

.description {
  padding-bottom: var(--ds-spacing-3);
}
