.container {
  display: grid;
  grid-template-columns: 1fr;
}

.withTag {
  grid-template-columns: auto auto;
}

.emptyField {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.6875;
}

.row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  column-gap: 2rem;
  row-gap: 1rem;
  border-top: 1px dashed #008fd6;
  margin-top: 10px;
  padding-top: 10px;
}

.tag {
  text-align: right;
}

/* Mobile layout */
@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }

  .tag {
    text-align: left;
  }
}
