.summaryContent {
  display: flex;
  gap: var(--ds-spacing-6);
  flex-direction: column;
}

.tabDivider {
  height: var(--ds-border_width-active);
  border: none;
  background-color: var(--ds-color-neutral-border-default);
  margin: 0;
}

.tabWrapper {
  display: flex;
  gap: var(--ds-spacing-8);
  flex-direction: column;
}
