.text-align-right,
.text-align-right input {
  text-align: right;
}

.text-align-left,
.text-align-left input {
  text-align: left;
}

.text-align-center,
.text-align-center input {
  text-align: center;
}

.text-padding {
  padding: 0 var(--ds-spacing-2);
  line-height: 32px;
}

.focusable:focus-visible {
  --ds-focus-border-width: 3px;
  outline: var(--ds-focus-border-width) solid var(--ds-semantic-border-focus-outline);
  outline-offset: var(--ds-focus-border-width);
  box-shadow: 0 0 0 var(--ds-focus-border-width) var(--ds-semantic-border-focus-boxshadow);
  border-radius: var(--ds-border-radius-md);
}
