.formValue {
  font-weight: bold;
}

.emptyValue {
  color: var(--fds-color-neutral-500);
  font-style: italic;
}

.inputSummaryItem {
  display: flex;
  gap: var(--fds-spacing-2);
  flex-direction: column;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-2);
}

.editButton {
  margin-left: auto;
  min-width: unset;
}
