.summaryItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.summaryItemWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-6);
}

.editButton {
  margin-left: auto;
  min-width: unset;
}
