.groupContainer {
  width: 100%;
  display: flex;
  gap: 24px;
  padding-bottom: 38px;
}

.group {
  width: 100%;
  padding: 12px;
}

.groupingIndicator {
  border-left: 2px solid #949494;
  padding: 12px 0 12px 12px;
}
