.groupContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-6);
}

.nested {
  border-width: var(--ds-border_width-default);
  border-radius: var(--ds-border-radius-md);
  border-color: var(--ds-color-neutral-border-default);
  border-style: dashed;
  padding: var(--ds-spacing-6) var(--ds-spacing-4);
}
