.summary {
  width: 100%;
}

.groupContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.groupContainer > * {
  padding: var(--fds-spacing-3);
}

.groupContainer > :first-child {
  padding-left: 0;
}

.groupContainer > :last-child {
  padding-right: 0;
}

.groupContainer.indented {
  border-left: 2px solid #949494;
  padding-left: var(--fds-spacing-3);
}

.groupContainer.noFieldset.indented {
  margin-left: var(--fds-spacing-3);
}

.yPadding {
  padding-top: var(--fds-spacing-1);
  padding-bottom: var(--fds-spacing-9);
}

.panel {
  padding: var(--fds-spacing-3);
}
