.map {
  position: relative;
  height: 40rem;
  width: 100%;
}

.map-error {
  border-color: var(--fds-semantic-border-danger-default);
  border-width: 2px;
  border-style: solid;
}

/* We do not want the map to look faded in PDF, so using @media only screen */
@media only screen {
  .tile-read-only {
    opacity: 0.5;
  }
}

.footer {
  padding-top: 12px;
}

/* The marker has role=button, and will therefore be hidden from PDF by default */
/* This makes sure it is visible after all */
.map-summary :global(img.leaflet-marker-icon) {
  display: block !important;
}

.empty-field {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.6875;
}
