.map {
  position: relative;
  height: 40rem;
  width: 100%;
}

.footer {
  padding-top: 12px;
}

/* The marker has role=button, and will therefore be hidden from PDF by default */
/* This makes sure it is visible after all */
.map-summary :global(img.leaflet-marker-icon) {
  display: block !important;
}

/* The tiles fade in from opacity 0, meaning that they are not fully visible in PDF when print is called */
/* This overrides the opacity so that the tiles are visible immediately */
.map-summary :global(img.leaflet-tile) {
  opacity: 1 !important;
}

.empty-field {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.6875;
}
