.app-bar-wrapper {
  flex-grow: 1;
}

.app-bar {
  background-color: transparent;
  padding-top: 1.875rem;
  margin-bottom: 2.25rem;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  min-height: 64px;
  display: flex;
  position: relative;
  align-items: center;
}

.header-link {
  display: inline;
  color: var(--fds-semantic-surface-action-default);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-left: 2.25rem;
  padding-bottom: 3px;

  @media screen and (max-width: 1024.95px) {
    font-size: 1.125rem;
  }

  &:hover {
    padding: 0;
  }

  & a {
    color: var(--fds-semantic-surface-action-default);
    border-bottom: 0;
  }

  & a:hover {
    color: var(--fds-semantic-surface-action-default);
    border-bottom: 3px solid var(--fds-semantic-surface-action-default);
  }
}

.header-link-list {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.logo {
  margin-right: 0.75rem;
}

.party-icon {
  margin-left: 5px;
}
