/* Default (xs breakpoint) */
[class*='col-'] {
  flex: 0 0 100%; /* Default to full-width */
  max-width: 100%;
}

/* Small (sm breakpoint) */
@media (min-width: 600px) {
  .col-sm-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-sm-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Medium (md breakpoint) */
@media (min-width: 960px) {
  .col-md-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-md-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Large (lg breakpoint) */
@media (min-width: 1280px) {
  .col-lg-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-lg-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
