.attachmentList {
  list-style: none;
  padding-left: 0;
}

.attachmentIcon {
  font-size: 2rem;
  flex-shrink: 0;
  margin-right: 5px;
}

.attachmentLink {
  display: flex;
  max-width: fit-content;
  gap: 0;
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 143, 214);
}

.truncate,
.extension {
  white-space: nowrap;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
