.likertRadioGroupWrapperMobile {
  padding-top: 12px;
}

.likertTableHeader {
  background-color: var(--fds-semantic-surface-action-second-subtle);
}

.likertTableContainer {
  display: block;
  width: 100%;
  padding: 12px;
}

.likertTable {
  width: 100%;
}
