.likertRadioGroupWrapperMobile {
  padding-top: 12px;
}

.likertTableContainer {
  display: block;
  width: 100%;
  padding: 12px;
}

.likertTableHeaderTop {
  /* using !important because the design-system is overriding this */
  text-align: center !important;
}

.likertTableCell {
  padding: 4px 12px;
}

.radioButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
