.selectedDate {
  background-color: var(--fds-colors-blue-900);
  color: white;
  font-weight: normal;
  border-radius: var(--fds-border_radius-medium);
}
.disabledDate {
  border-radius: var(--fds-border_radius-medium);
  background: var(--fds-colors-grey-100);

  cursor: not-allowed;
}
.disabledDate button {
  text-decoration: line-through;
}
.focusedDate {
  border-radius: var(--fds-border_radius-medium);
  background: var(--fds-colors-blue-200);
}
.today {
  border-radius: var(--fds-border_radius-medium);
  border: var(--fds-border_width-default) solid var(--fds-colors-blue-200);
}
.disabledDate:hover button {
  cursor: not-allowed;
}

.calendarWrapper {
  max-width: 363px;
}
.calendar {
  width: 350px;
  border-collapse: separate;
  border-spacing: 2px;
}
.calendarWeekday {
  width: 48px;
  height: 48px;
  text-align: center;
  opacity: 0.75;
  padding: 0.5rem 0rem;
  font: inherit;
  font-weight: 500;
}
.calendarDay {
  width: 48px;
  height: 48px;
  text-align: center;
}
.calendarDayButton {
  height: 46px;
  width: 46px;
  /*justify-content: center;
  align-items: center;
  display: flex;

  border-radius: 0;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;*/
}
.monthWrapper {
  display: flex;
  flex-direction: column;
}

.calendarInputWrapper {
  display: flex;
  border-radius: 4px;
  border: var(--fds-border_width-default, 1px) solid var(--fds-semantic-border-neutral-default);
}
.calendarInput input,
.calendarInput button {
  border: none;
  background: white;
}
