.file {
  display: flex;
  gap: 5px;
  padding-right: var(--ds-size-1);
}
.primaryColor {
  color: var(--colors-primary-blueDark);
}

.icon {
  font-size: 24px;
  flex-shrink: 0;
}

.download {
  display: flex;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.extension {
  white-space: nowrap;
}
