.canvas {
  display: block;
  width: 100%;
  background-color: #e5e7eb;
  overflow: hidden;
  cursor: grab;
  touch-action: none;
}

.canvas:active {
  cursor: grabbing;
}

.previewBackground {
  background-color: #f4f5f6; /* Following does not exist in v1: var(--ds-color-neutral-background-subtle); */
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--ds-size-4);
  box-sizing: border-box;
}

.uploadedImage {
  max-width: 100%;
  max-height: 100%;
}
