.sidebar-container {
  --max-sidebar-width: 320px;

  position: absolute;
  padding: 0 14px;
  box-sizing: border-box;

  /* This is highly dependent on the width of the page, and only works for large screen sizes, see src/index.css */
  width: calc(50% - var(--page-max-width) / 2);
  max-width: var(--max-sidebar-width);

  margin-left: max(calc(50% - var(--page-max-width) / 2 - var(--max-sidebar-width)), 0px);
}

.popover-wrapper {
  position: relative;
}

.popover-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 4px 0 rgb(137 137 137 / 50%);
  width: 320px;

  /* Override positioning */
  transform: unset !important;
  will-change: unset !important;
  top: 48px !important;
  right: 0 !important;
  /* right: calc(-1 * var(--page-padding-x)) !important; */
  bottom: unset !important;
  left: unset !important;
}

.popover-container :global(.fds-popover__arrow) {
  display: none;
}

.burger-menu-icon {
  margin-left: 4px;
}

.navigation-header {
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.group-list {
  list-style-type: none;
  padding: 0 2px;
  margin: 0;
}

.group-list > li:not(:last-child) {
  margin-bottom: 28px;
}

.group-button {
  font-family: var(--font-family);
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  column-gap: 8px;
  align-items: center;
  text-align: left;
}

.group-button:hover {
  text-decoration: underline;
}

.group-name {
  color: var(--fds-colors-grey-800);
  font-weight: normal;
}

.group-chevron {
  margin-right: -4px; /* The icon has some internal padding, this makes the edge line up better */
  color: var(--fds-colors-grey-700);
  font-size: 16px;
}

.group-chevron-open {
  transform: rotate(180deg);
}

.group-symbol {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  font-size: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: var(--fds-border_radius-interactive);
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-symbol-error {
  color: var(--fds-colors-red-700);
  border-color: var(--fds-colors-red-500);
  background-color: var(--fds-colors-red-100);
}

.group-symbol-complete {
  color: white;
  border-color: var(--fds-colors-blue-700);
  background-color: var(--fds-colors-blue-700);
}

.group-symbol-default {
  color: var(--fds-colors-blue-900);
  border-color: var(--fds-colors-blue-400);
  background-color: var(--fds-colors-grey-100);
}

.page-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-list > li:first-child {
  margin-top: 15px;
}

.page-list > li:not(:last-child) {
  margin-bottom: 20px;
}

.page-button {
  font-family: var(--font-family);
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
  align-items: center;
  text-align: left;
}

.page-button:hover {
  text-decoration: underline;
}

.page-symbol {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-list > li:first-child .page-symbol::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  height: 11px;
  width: 0;
  border-left: 2px solid var(--fds-colors-grey-700);
  bottom: 20px;
}
.page-list > li:not(:last-child) .page-symbol::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  height: 16px;
  width: 0;
  border-left: 2px solid var(--fds-colors-grey-700);
  top: 20px;
}

.page-symbol-error {
  font-size: 16px;
  color: var(--fds-colors-red-700);
  border-color: var(--fds-colors-red-500);
  background-color: var(--fds-colors-red-100);
}

.page-symbol-complete {
  font-size: 14px;
  color: white;
  border-color: var(--fds-colors-blue-700);
  background-color: var(--fds-colors-blue-700);
}

.page-symbol-default {
  border-color: var(--fds-colors-blue-400);
  background-color: var(--fds-colors-grey-100);
}

.page-symbol-active {
  border-color: var(--fds-colors-blue-900);
  background-color: var(--fds-colors-blue-900);
}

.page-name {
  color: var(--fds-colors-blue-700);
  font-weight: normal;
}
