.popover-wrapper {
  position: relative;
}

.popover-container {
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 4px 0 rgb(137 137 137 / 50%);
  width: 320px;
  box-sizing: border-box;
  padding: 16px;

  /* Override positioning */
  max-width: unset !important;
  transform: unset !important;
  will-change: unset !important;
  top: calc(100% + 8px) !important;
  right: 0 !important;
  bottom: unset !important;
  left: unset !important;
}

.popover-container :global(.fds-popover__arrow) {
  display: none;
}

.modal {
  max-width: 320px;
  min-width: unset;
  height: 90vh;
}

.modal-container {
  box-sizing: border-box;
  padding: 16px;
  max-height: unset;
  height: 100%;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.burger-menu-icon {
  margin-left: 4px;
}
