.popoverButtonActive {
  background-color: var(--fds-semantic-surface-action-first-no_fill-active);
  border-color: var(--fds-semantic-border-action-first-active);
  color: var(--fds-semantic-text-action-first-active);
}

.popoverButtonIcon {
  font-size: 1.2rem;
}
.popoverButtonIconMargin {
  margin-right: 4px;
}

.modal {
  max-width: 320px;
  min-width: unset;
  height: 90vh;
}

.modalContainer {
  box-sizing: border-box;
  padding: 16px;
  max-height: unset;
  height: 100%;
}
