.componentWrapper {
  display: grid;

  .orgnrLabel {
    grid-area: orgnrLabel;
    align-self: start;
  }

  .orgnr {
    grid-area: orgnr;
    align-self: start;
  }

  .submit {
    grid-area: submit;
    align-self: start;
    white-space: nowrap;
  }
}
