.rowReadOnly,
.rowReadOnly td,
.rowReadOnly th {
  background-color: var(--component-input-read_only_info-color-background-default);
}

.fullWidthCellFirst {
  padding-left: var(--modal-padding-x) !important;
}

.fullWidthCellLast {
  padding-right: var(--modal-padding-x) !important;
}
