name: Tests
on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'yarn.lock'
      - '.github/workflows/unit-tests.yml'
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'src/**'
      - 'yarn.lock'
      - '.github/workflows/unit-tests.yml'

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    name: Type-checks, eslint, unit tests and SonarCloud
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: app-frontend
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: install node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '22'

      - name: Get yarn cache directory path
        working-directory: app-frontend
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: install dependencies
        working-directory: app-frontend
        run: yarn --immutable

      - name: type-check
        working-directory: app-frontend
        run: yarn tsc

      - name: run eslint
        working-directory: app-frontend
        run: yarn lint

      - name: run tests
        working-directory: app-frontend
        run: yarn test --coverage

      - name: SonarCloud Scan
        if: |
          github.repository_owner == 'Altinn' &&
          (github.event_name != 'pull_request' && github.event.repository.fork == false) ||
          (github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false)
        with:
          projectBaseDir: app-frontend
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
