.inputFlexExact {
  align-self: flex-start;
  max-width: 100%;
}

.useXs {
  width: var(--input-pct-xs);
}

@media (min-width: 600px) {
  .useSm {
    width: var(--input-pct-sm);
  }
}

@media (min-width: 1025px) {
  .useMd {
    width: var(--input-pct-md);
  }
}

@media (min-width: 1440px) {
  .useLg {
    width: var(--input-pct-lg);
  }
}
